[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fuzzywuzzy = "*"
beautifulsoup4 = "*"
gin-config = "*"
requests = "*"
python-Levenshtein = "*"

[dev-packages]

[requires]
python_version = "3.7"
